.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}
.sobre img{
  max-width: 500px;
}
.sobre p, .sobre h4 {
  max-width: 42ch;
  padding-bottom: 10px;
  font-family: "irish Grover", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.videos-conteiner {
  display: grid;
  grid-template-columns: 1fr;
  margin: 30px auto;
  justify-items: center;
  gap: 10px;
}
.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.videos iframe {
  margin: 0 auto;
}
.videos-conteiner h3 {
  font-size: 2rem;
  font-weight: 600;
}